<a href="https://colab.research.google.com/github/AremyDaz/Plataformas/blob/main/Extracci%C3%B3n_y_filtrado_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Instalar librerías
!pip install pandas
!pip install numpy
!pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [ ]:
# Importar el archivo de datos
from google.colab import files
uploaded = files.upload()

Saving file.csv to file.csv

In [ ]:
# Importar pandas
import pandas as pd
import io

# Leer el contenido del archivo
df = pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2) # Define una columna como índice
#df = pd.read_csv('file.csv') # No define columna como índice
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 4554 entries, Nacional to Zacatecas
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Periodo                                          4554 non-null   int64
 1   Trimestre                                        4554 non-null   int64
 2   Sexo                                             4554 non-null   object
 3   Poblacion_ocupada_en_la_industria_manufacturera  4554 non-null   object
 4   Poblaci n_ocupada                                4554 non-null   object
 5   Tasa_de_ocupaci n_en_la_industria_manufacturera  4554 non-null   object
dtypes: int64(2), object(4)
memory usage: 249.0+ KB

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
# Filtros básicos para variables cualitativas
# Filtro por objeto
filtro1=df[df["Entidad_Federativa"] == "Puebla"]
filtro1

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
42,2005,1,Puebla,Hombres,230487,1341586,17.180188220000000000000
43,2005,1,Puebla,Mujeres,188720,817134,23.095355230000000000000
108,2005,2,Puebla,Hombres,236459,1307234,18.088498310000000000000
109,2005,2,Puebla,Mujeres,190831,825016,23.130581710000000000000
174,2005,3,Puebla,Hombres,233484,1333871,17.504241410000000000000
...,...,...,...,...,...,...,...
4399,2021,3,Puebla,Mujeres,188908,1163761,16.232542590000000000000
4464,2021,4,Puebla,Hombres,316434,1719797,18.399497150000000000000
4465,2021,4,Puebla,Mujeres,203202,1207987,16.821538640000000000000
4530,2022,1,Puebla,Hombres,320843,1778065,18.044503430000000000000
4531,2022,1,Puebla,Mujeres,179545,1151959,15.586058180000000000000

In [ ]:
# Filtro por filas
filtro2 = df.iloc[50:550, : ] #Filas consecutivas
#filtro2=df.iloc[ [1000, 2000, 3000], :] #Filas no consecutivas
filtro2

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Sinaloa,2005,1,Hombres,77990,749476,10.405936950000000000000
Sinaloa,2005,1,Mujeres,53206,399694,13.311683440000000000000
Sonora,2005,1,Hombres,91143,651067,13.999020070000000000000
Sonora,2005,1,Mujeres,70042,348722,20.085340190000000000000
Tabasco,2005,1,Hombres,37784,531684,7.1064767790000000000000
...,...,...,...,...,...,...
Chihuahua,2007,1,Mujeres,118215,476923,24.787020130000000000000
Ciudad de M xico,2007,1,Hombres,363088,2311208,15.709879860000000000000
Ciudad de M xico,2007,1,Mujeres,204093,1725232,11.829887230000000000000
Durango,2007,1,Hombres,71936,387022,18.587057070000000000000
Durango,2007,1,Mujeres,27817,191692,14.511299380000000000000

In [ ]:
# Filtro por columnas
#filtro3=df.iloc[ : , 2:5] # Columnas consecutivas
filtro3=df.iloc[ : , [1,4,6]] #Columnas no consecutivas
filtro3

,Trimestre,Poblacion_ocupada_en_la_industria_manufacturera,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,1,4384907,16.485975660000000000000
1,1,2690296,18.124679360000000000000
2,1,56407,22.913188480000000000000
3,1,28430,19.518591750000000000000
4,1,167651,21.801482210000000000000
...,...,...,...
4549,1,107640,9.0398099320000000000000
4550,1,101992,14.751582670000000000000
4551,1,82759,17.279509250000000000000
4552,1,44105,10.962503040000000000000
4553,1,39472,15.43315830000000000000

In [ ]:
# Filtro de filas vs columnas
filtro4=df.loc[["Puebla","Durango"], ["Población_ocupada_en_la_industria_manufacturera"]] 
filtro4 #Este filtro requiere columna índice
# NO ME SALIO

In [ ]:
# Filtro por cabecera
filtro5=df.head()
filtro5

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000

In [ ]:
# FILTROS BÁSICOS PARA VARIABLES CUANTITATIVAS
# Filtro por comparación
filtro6=df[df["Periodo"] >= 2006]
filtro6

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2006,1,Hombres,4377795,26913995,16.265868370000000000000
Nacional,2006,1,Mujeres,2741480,15826941,17.321603710000000000000
Aguascalientes,2006,1,Hombres,58341,256317,22.761268270000000000000
Aguascalientes,2006,1,Mujeres,25737,152027,16.929229680000000000000
Baja California,2006,1,Hombres,156261,779609,20.043508990000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
# FILTROS BASICOS CON CONECTORES LÓGICOS
# Filtro 7
filtro7=df[(df["Periodo"] > 2006) & (df["Sexo"] == "Mujeres")]
filtro7

In [ ]:
# Filtro OR
filtro8=df[(df["Periodo"] > 2020) | (df["Sexo"] == "Hombre")]
filtro8

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2021,1,Hombres,5687086,32671161,17.407052050000000000000
Nacional,2021,1,Mujeres,3266812,20302109,16.090998230000000000000
Aguascalientes,2021,1,Hombres,100116,360857,27.743953980000000000000
Aguascalientes,2021,1,Mujeres,48719,235035,20.728402150000000000000
Baja California,2021,1,Hombres,264680,1022533,25.884739170000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
#Filtro NOT
filtro9=df[~(df["Periodo"] >= 2006) & (df["Sexo"] == "Mujeres")]
filtro9

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Mujeres,103697,398911,25.995021450000000000000
Baja California Sur,2005,1,Mujeres,4103,75648,5.4238049920000000000000
Campeche,2005,1,Mujeres,17935,110090,16.291216280000000000000
...,...,...,...,...,...,...
Tamaulipas,2005,4,Mujeres,113506,471856,24.055220240000000000000
Tlaxcala,2005,4,Mujeres,47984,165968,28.911597420000000000000
Veracruz,2005,4,Mujeres,91162,966076,9.436317640000000000000
Yucat n,2005,4,Mujeres,74834,302926,24.703723020000000000000
Zacatecas,2005,4,Mujeres,19022,186475,10.200831210000000000000

In [ ]:
# Convertir archivo filtrado en .csv
filtro9.to_csv("Ejercicio1_Filtros.csv")

In [ ]:
# Descargar archivo .csv
from google.colab import files


files.download("Ejercicio1_Filtros.csv")